/*             CATEGORY          
***********************/

/*          SUBCATEGORY
=======================*/

/*      SUB SUBCATEGORY 
-----------------------*/

/*          Preferences
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/


/*                                            Applied to all templates
**********************************************************************/
html {
    max-width: 1200px!important;
    margin: 0 auto;
    font-family: 'Milford-nLjO';
}

@font-face {
    font-family: 'Milford-nLjO';
    src: url('/static/font/Milford-nLjO.ttf') format('TrueType');
  }

body {
    font-family: 'Milford-nLjO';
}  

.background-blue {
    padding-top: 20px;
    background-color: #93c7d8;
    margin: 0 auto;
    
}

.background-light-blue {
    max-width: 1050px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c1d6de;
    border-radius: 20px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-weight: bold;
    color: #FF70C0;
    text-shadow: 3px 1px 1px #f2aece;
}

h3 {

    margin-left: 20px;
    font-weight: bold;
    color: #FF70C0;
    text-shadow: 3px 1px 1px #f2aece;
}

/*                                                           HOME.HTML
**********************************************************************/
/*                                                  POST WALL
=============================================================*/
/*                                    POST-CONTAINER
----------------------------------------------------*/
.post-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    
}
/*                                         POST-CARD
----------------------------------------------------*/
.post-card {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}
/*                                         POST-TITLE
----------------------------------------------------*/
.post-title {
    margin-bottom: 10px;
}
/*                                          POST-IMG
----------------------------------------------------*/
/*              Post align img center
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/
.post-img-container {
    text-align: center; 
    padding: 20px;
}
/*          Post img rounded corners
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/
.post-img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}
/*                            POST CONTENT + COMMENTS
----------------------------------------------------*/
/*             Post content settings
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/
.post-content {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 10px;
}

/*         Post username + timestamp
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/
.post-meta {
    font-style: italic;
    color: #999;
}

.post-comment-btn

/* Message displayed when there are no posts */
.no-posts-message {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-top: 20px;
}









/*                                        RESPONSIVE SETTINGS
============================================================*/
/*                                            NAVBAR
----------------------------------------------------*/
/*                     Large Screens
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
@media (min-width: 992px) {
    .search {
      width: ;
    }
  }
  /*                     Small Screens
  ¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
  @media (max-width: 576px) {
    .search {
      width: 100%;
    }
  }
  