/*             CATEGORY          
***********************/

/*          SUBCATEGORY
=======================*/

/*      SUB SUBCATEGORY 
-----------------------*/

/*          Preferences
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/

/*                                                              NAVBAR
**********************************************************************/ 
/*                                                      COLOR
=============================================================*/
.navbar {
  background-color:#93c7d8!important;
}

/*                                               SEARCH-FIELD
=============================================================*/
.search-input {
  border-radius: 20px;
  color: #484747;
  background-color: #FFF;
  border: 1px solid #F2AECE;
}

.search-input::placeholder {
  color: #484747;
}


/*                                RESPONSIVE SETTINGS
----------------------------------------------------*/
 @media (min-width: 992px) {
  .search {
      max-width: 200%; /* Slightly larger max-width for large screens */
  }
}


/* Small Screens */
@media (max-width: 576px) {
  .search {
    max-width: 100%; / /* Full width on small screens */
  }
}

/* Medium Devices (iPads, tablets) */
@media (min-width: 768px) {
  .search {
    max-width: 100%; /* Adjusted width for iPads and tablets */
  }
}


/*                                                    BUTTONS
=============================================================*/
.brand-btn {
  border-radius:      10px;
  margin-right:       10px;
  color:            #FF70C0;
  background-color: #FFF;
  border-color:     #F2AECE;
  text-shadow:        2px 1px 1px #F2AECE;

}

.brand-btn:hover {
  color:            #FFF;
  background-color: #F2AECE;
  border-color:     #FF70C0;
  text-shadow:        2px 1px 1px #FF70C0;
}
/*                                     SEARCH BUTTON
----------------------------------------------------*/
/*                              Icon
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/
.search-btn .fa-search {
  color:            #FF70C0;
}
/*                        Icon hover
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/
.search-btn:hover .fa-search {
  color:            #FFF;
}
/*                        Background
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.search-btn {
  border-radius:      5px;
  background-color: #FFF;
  border:             1px solid #F2AECE;
}
/*                  Background hover
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.search-btn:hover {
  background-color: #F2AECE;
  border-color:     #FF70C0;
}

/*                                       POST BUTTON
----------------------------------------------------*/
.post-btn {
  display:          flex;
  justify-content:  center;
  align-items:      center;
  margin-top:       9px;
  width:            70px;
  height:           65px;
  border-radius:    50%;
  color:            #FF70C0;
  background-color: #FFF;
  border-color:     #F2AECE;
  text-shadow:        2px 1px 1px #F2AECE;
}

.post-btn:hover {
  color:            #FFF;
  background-color: #F2AECE;
  border-color:     #FF70C0;
  text-shadow:        2px 1px 1px #FF70C0;
}

/*                            PROFILE PICTURE BUTTON
----------------------------------------------------*/
.profile-button {
  margin-bottom:  -2px;
  display:        inline-block;
  padding:        0px;
  background:     none;
  cursor:         pointer;
}

.profile-picture {
  width:          80px;
  height:         auto;
  border-radius:  50%;
  display:        block;
  transition:     box-shadow 0.1s, border 0.1s;
}

.profile-button:hover .profile-picture {
  border:         3px solid #FF70C0;
}
/*                                    FRIENDS BUTTON
----------------------------------------------------*/
/*                          Position
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.friends-button {
  margin-top: 7px;

}

/*                            BRAND + TOGGLER BUTTON
----------------------------------------------------*/
/*                    Vertical align
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.navbar-btn,
.navbar-toggler {
  align-items:  center;
  display:      flex;
}

/*                                    TOGGLER BUTTON
----------------------------------------------------*/
 /*           Size / Position / Shape 
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.navbar-toggler {
  padding:       10px;
  font-size:     1.05rem;
  border-radius: 10px;
  margin-top:    10px;
  margin-bottom: 10px;
}
/*                     Color - lines
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%23FF70C0' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/*           Color - outline / Shape
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.navbar-toggler:focus {
  border-radius:10px;
  outline: 1px solid #FF70C0;
  
}

/*                                           WELCOME MESSAGE
============================================================*/
.welcome-message {
  font-size:20px;
  color:#000000;
}

/*                                    Toggler items settings
============================================================*/
@media (max-width: 1024px) {
  /*  Horizontal align to the right
  ¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
  .navbar-nav {
    flex-direction: row;
    justify-content: flex-end;
  }
  /*                 Fixed postions
  ¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
  .navbar-nav .nav-item {
    position: relative!important; 
    margin-top: 10px;
    margin-right: 5px;
  }

  /* Over content instead of pushing down
  ¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
  .dropdown-menu {
    position: absolute!important;
    min-width: auto!important;
  }
  
/*           Align with profile-btn
  ¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
  .post-btn {
    margin-top: 15px;
    margin-right: 10px;
  }
}




