/*             CATEGORY          
***********************/

/*          SUBCATEGORY
=======================*/

/*      SUB SUBCATEGORY 
-----------------------*/

/*          Preferences
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/

/*                                                                FONT
**********************************************************************/
/*                   Welcome-message
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
@font-face {
  font-family: 'Milford-nLjO';
  src: url('/static/font/Milford-nLjO.ttf') format('TrueType');
}
/*                                                              NAVBAR
**********************************************************************/
.navbar {
  font-family: 'Milford-nLjO';
  background-color:#93c7d8!important;
}
/*                                                  DROPDOWN
============================================================*/
/*      Items flexible, center-align
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.dropdown-item { 
  display: flex;
  align-items: center;
}
/*          Space between text/badge
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.dropdown-item .badge {
  margin-left: 5px;
}
/*                                               SEARCH-FIELD
=============================================================*/

/*                Color, Shape, Font
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.search-input {
  height: 40px;
  border-radius: 20px;
  font-size: 1rem;
  color:#000;
  background-color:#FFF;
  border: 1px solid #F2AECE;
  
}
/*                  Placeholder Font
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.search-input::placeholder {
  font-family: "Milford-nLjO";
  color:#000;
  
}

/*                                                    BUTTONS
=============================================================*/
/*                                       BRAND BUTTON
----------------------------------------------------*/
.brand-btn {
  font-size: 25px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 7px;
  padding-left: 5px;
  border-radius: 10px;
  margin-right: 10px;
  color:#FF70C0;
  background-color:#FFF;
  border-color:#F2AECE;
  text-shadow: 2px 1px 1px #F2AECE;

}

.brand-btn:hover {
  color:#FFF;
  background-color:#F2AECE;
  border-color:#FF70C0;
  text-shadow:2px 1px 1px #FF70C0;
}
/*                                     SEARCH BUTTON
----------------------------------------------------*/
/*                        Icon color
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/
.search-btn .fa-search {
  color:#FF70C0;
}
/*                   Icon hover color
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/
.search-btn:hover .fa-search {
  color:#FFF;
}
/*                  Background color
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.search-btn {
  border-radius: 5px;
  background-color:#FFF;
  border: 1px solid #F2AECE;
}
/*             Background hover color
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.search-btn:hover {
  background-color:#F2AECE;
  border-color:#FF70C0;
}

/*                                       POST BUTTON
----------------------------------------------------*/
/*                       Button color
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.post-btn {
  display:          flex; /* Use flexbox */
  justify-content:  center; /* Center horizontally */
  align-items:      center; /* Center vertically */
  width:            65px;
  height:           60px;
  font-size:        20px;
  font-weight:      bold;
  border-radius:    50%;
  margin-top:       5px;
  color:            #FF70C0;
  background-color: #FFF;
  border-color:     #F2AECE;
  text-shadow:        2px 1px 1px #F2AECE;
}
/*                       Hover color
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.post-btn:hover {
  color:            #FFF;
  background-color: #F2AECE;
  border-color:     #FF70C0;
  text-shadow:        2px 1px 1px #FF70C0;
}

/*                            PROFILE PICTURE BUTTON
----------------------------------------------------*/
/*                Position, Settings
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.profile-button {
  margin-bottom:  -2px;
  display:        inline-block;
  padding:        0px;
  background:     none;
  cursor:         pointer;
}
/*                Size, Shape, Hover
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.profile-picture {
  width:          70px;
  height:         70px;
  border-radius:  50%;
  display:        block;
  transition:     box-shadow 0.1s, border 0.1s;
}
/*                       Hover color
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.profile-button:hover .profile-picture {
  border: 3px solid #FF70C0;
}
/*                                    FRIENDS BUTTON
----------------------------------------------------*/
/*                          Position
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.friends-button {
  margin-top: 10px;
  margin-left: 10px;
}

/*                            BRAND + TOGGLER BUTTON
----------------------------------------------------*/
/*                    Vertical align
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.navbar-btn,
.navbar-toggler {
  align-items:  center;
  display:      flex;
}


/*                                    TOGGLER BUTTON
----------------------------------------------------*/
 
/*           Size / Position / Shape 
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.navbar-toggler {
  padding:       10px;
  font-size:     1.05rem;
  border-radius: 10px;
  margin-top:    10px;
  margin-bottom: 10px;
}
/*                     Color - lines
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%23FF70C0' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/*           Color - outline / Shape
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.navbar-toggler:focus {
  border-radius:10px;
  outline: 1px solid #FF70C0;
  
}
/*                                           WELCOME MESSAGE
============================================================*/
.welcome-message {
  font-size:20px;
  font-family: "Milford-nLjO";
  color:#000000;
}
/*                                           Links in row - Small Screens
============================================================*/
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: row !important;
  }

  .navbar-nav .nav-item {
    margin-right: 10px; /* Optional: Add some spacing between navbar items */
  }
}