{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="background-blue">
    <div class="background-light-blue">
      <h1>Post Wall</h1>
      <div class="post-container">
        {% if posts %}
          {% for post in posts %}
            <div class="post">
              <h2 class="post-title">{{ post.title }}</h2>
              {% if post.img %}
                <img class="post-img" src="{{ post.img.url }}" alt="{{ post.title }}">
              {% endif %}
              <p class="post-content">{{ post.short_content }}</p>
              <p class="post-meta">By: {{ post.user.username}} | Posted on: {{ post.created_at }}</p>
            </div>
          {% endfor %}
        {% else %}
          <p class="no-posts-message">No posts available.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}